@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.about--wrapper {
  padding: 12.4rem 2.4rem 0rem 2.4rem;
}

.about-title-container-inner {
  position: relative;
}

.about-title-container-inner::before {
  content: "";
  width: 88px;
  height: 32px;
  background-color: #f2c94c;
  position: absolute;
  bottom: 44px;
  left: 71%;
  z-index: -1;
}

.about-title-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.about-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 62px;
  color: #333;
  letter-spacing: 1.2px;
  margin-bottom: 2.4rem;
  font-weight: 600;
  z-index: 600;
  text-shadow: 2px 2px 4px #00000046;
}

.about-me__part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.2rem 2.4rem 0rem 2.4rem;
}
.about-me__part1--header {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #1a98ff;
  font-size: clamp(24px, 3vw, 32px);
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.about-me__img-container {
  min-width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
}

.about-me__img-container img {
  width: 70%;
}

.about-me__img-container::before {
  content: "";
  display: absolute;
  width: 50%;
  padding-bottom: 50%;
  background-image: linear-gradient(
    209.25deg,
    #00e5ff6c 13.05%,
    #3cdec69f 88.99%
  );
  box-shadow: 0px 20px 80px #00e5ff56;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  left: 30%;
  bottom: 15%;
}

.about-me__text-container {
  min-width: clamp(305px, 45vw, 800px);
  padding-left: 140px;
}

.about-me__text-container p {
  font-size: clamp(14px, 3vw, 18px);
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .about-me__text-container {
    padding-left: 45px;
  }
}

@media screen and (max-width: 780px) {
  .about-me__part1 {
    flex-direction: column;
  }
  .about-me__text-container {
    padding-left: 0px;
  }

  .about-me__img-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }

  .about-me__img-container::before {
    bottom: 17%;
    left: 30%;
  }

  .about-me__img-container::before {
    width: 80%;
    padding-bottom: 80%;
    bottom: 14%;
    left: 11%;
  }

  .about-me__img-container img {
    width: 100%;
  }

  .about-me__img-container {
    padding-top: 2.4rem;
  }

  .about-title {
    font-size: 52px;
    margin-bottom: 12px;
  }

  .about-title-container-inner::before {
    width: 74px;
    height: 26px;
    bottom: 19px;
  }
}
